<div class="editsupplier-container">
    
      <h1 >Edit Supplier</h1>
      <div class="form-group">
        <label>Supplier Name:</label><br>
        <mat-form-field class="full-width" appearance="outline">
          <input matInput  placeholder="Enter the new supplier name" [(ngModel)]="supplier.supplierName"
          class="form-control"
          >
          <mat-hint></mat-hint>
        </mat-form-field>
        <br><br>
       </div>
        <label>Supplier Email:</label><br>
        <mat-form-field class="full-width" appearance="outline">
          <textarea matInput placeholder="The supplier's email"
          class="form-control"   [(ngModel)]="supplier.supplierEmail"
></textarea>

        <br><br>

        
        
        <div class="form-group">
        <label>Telephone number:</label><br>
        <mat-form-field class="full-width" appearance="outline">
          <input matInput placeholder="Enter the supplier's number"  class="form-control"  [(ngModel)]="supplier.supplierTelephone"
          >
        </mat-form-field>
    </div>
        <br><br>


        <div class="form-group">
        <label>Physical Address:</label><br>
        <mat-form-field class="full-width" appearance="outline">
          <input matInput placeholder="Enter the supplier's address"  class="form-control"  [(ngModel)]="supplier.supplierAddress"
          >
        </mat-form-field>
    </div>
        <br><br>

      
        <div class="button-flex-container">
         
          <button routerLink="/task" class="btn btn-danger" type="submit">Cancel</button>
          &nbsp;&nbsp;
          <button [disabled] class="btn btn-primary" (click)="submit()">Save</button> 
      
      </div>

    
  </div>

