<h1 class="title">Phase</h1>
<br>
<div>
  <input  type="text" id="searchphaseinput" placeholder="Search Phases">
  <button class="btn btn-primary">Search</button>
</div>

<div class="top-right">
    <button class="btn btn-primary btn-lg"  id="addphase" routerLink="/add-phase">
    Add Phase </button>
</div>
<div class="row" >
  <div class="col-xs-12">
    <div class="table table-responsive table-hover">
      <table class="table table-bordered table-condensed ">
        <thead>
          <tr>
            <th>ID</th>
            <th>Phase Name</th>
            <th>Job Description</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let phase of phases">
            <td>{{phase.phaseID}}</td>
            <td>{{phase.phaseName}}</td>
            <td>{{phase.JobDescription}}</td>
            <td>{{phase.StartDate}}</td>
            <td>{{phase.EndDate}}</td>
            <td><button [routerLink]="['/update-phase']" mat-menu-item><mat-icon>edit_note</mat-icon>Update</button></td>
            <td><button [routerLink]="['/view-phase']" mat-menu-item><mat-icon>edit_note</mat-icon>Delete</button></td>
            <td><button [routerLink]="['/assign-phase']" mat-menu-item><mat-icon>edit_note</mat-icon>Assign</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
