

.container{
    width:50%;
}

div{
    font-size: 14px !important;
    font-family: Arial, Helvetica, sans-serif,  !important;
    text-align:justify;
}

label{
    font-size: 14px !important;
    font-family: Arial, Helvetica, sans-serif,  !important;
    width:150px;
}

h1{
    color:darkgoldenrod;
    margin-top: 5px;
    text-align: center;
    font-size: 40px !important;
    font-family: Arial, Helvetica, sans-serif,  !important;
}

button{
    color: white;
    position: absolute;
    bottom: 55%;
    right: 40%;
}
