
<div class="container" >
    <h1>Project Details</h1>
    <div>
        <label>Project Name: </label> <span></span> Structural Steel Staircase
    <div>
        <label>Project Description: </label> Build a structural steel staircase structure for a factory
    </div>
    <div>
        <label>Project Status: </label> In Progress
    </div>
    <div>
        <label>Start Date: </label> 04 May 2021
    </div>
    <div>
        <label>End Date: </label> 15 November 2021
    </div>
    <div>
        <label>Site Name: </label> Tshwane Automotive Zone
    </div>
    <div>
        <label>Site Address:</label> Alwyn St, Samcor Park, Pretoria, 0184
    </div>
</div>
<br>
<button class="btn btn-info" routerLink="/project">Close</button>
