<div class="editphase-container">

  <h1>Update Phase</h1>
  <div class="form-group">
    <label>Phase Name:</label><br>
    <mat-form-field class="full-width" appearance="outline">
      <input matInput placeholder="Enter the new phase name" [(ngModel)]="phase.phaseName"
        class="form-control">
      <mat-hint></mat-hint>
    </mat-form-field>
    <br><br>
  </div>
  <label>Phase Description:</label><br>
  <mat-form-field class="full-width" appearance="outline">
    <textarea matInput placeholder="The phase's description" class="form-control"
      [(ngModel)]="phase.phaseDescription"></textarea>
    <br><br>

    <div class="form-group">
      <label>Start Date:</label><br>
      <mat-form-field class="full-width" appearance="outline">
        <input matInput placeholder="Enter the phase's address" class="form-control"
          [(ngModel)]="phase.StartDate">
      </mat-form-field>
    </div>
    <br><br>

    <div class="form-group">
      <label>End Date:</label><br>
      <mat-form-field class="full-width" appearance="outline">
        <input matInput placeholder="Enter the phase's number" class="form-control"
          [(ngModel)]="phase.EndDate">
      </mat-form-field>
    </div>
    <br><br>





    <div class="button-flex-container">

      <button routerLink="/task" class="btn btn-danger" type="submit">Cancel</button>
      &nbsp;&nbsp;
      <button [disabled] class="btn btn-primary" (click)="submit()">Save</button>

    </div>


</div>
