<div class="container" >
    <h1>Task Details</h1>
    <div>
        <label>Task Name: </label> <span></span> Paint job
    <div>
        <label>Task Description: </label> Paint the classrooms on the outside and paint a mural
    </div>
    <div>
        <label>Task Status: </label> In Progress
    </div>
    <div>
        <label>Start Date: </label> 04 May 2021
    </div>
    <div>
        <label>End Date: </label> 03 June 2021
    </div>
    <div>
        <label>Equipment Needed: </label> Paint, paint brushes, buckets, rollers
    </div>
    
</div>
<br>
<button class="btn btn-info" routerLink="/task">Close</button>
