<div class="editsubcontractor-container">

  <h1>Edit Subcontractor</h1>
  <div class="form-group">
    <label>Subcontractor Name:</label><br>
    <mat-form-field class="full-width" appearance="outline">
      <input matInput placeholder="Enter the new subcontractor name" [(ngModel)]="subcontractor.subcontractorName"
        class="form-control">
      <mat-hint></mat-hint>
    </mat-form-field>
    <br><br>
  </div>
  <label>Subcontractor Description:</label><br>
  <mat-form-field class="full-width" appearance="outline">
    <textarea matInput placeholder="The subcontractor's description" class="form-control"
      [(ngModel)]="subcontractor.subcontractorDescription"></textarea>
    <br><br>

    <div class="form-group">
      <label>Subcontractor Address:</label><br>
      <mat-form-field class="full-width" appearance="outline">
        <input matInput placeholder="Enter the subcontractor's address" class="form-control"
          [(ngModel)]="subcontractor.subcontractorAddress">
      </mat-form-field>
    </div>
    <br><br>

    <div class="form-group">
      <label>Telephone number:</label><br>
      <mat-form-field class="full-width" appearance="outline">
        <input matInput placeholder="Enter the subcontractor's number" class="form-control"
          [(ngModel)]="subcontractor.subcontractorTelephone">
      </mat-form-field>
    </div>
    <br><br>





    <div class="button-flex-container">

      <button routerLink="/task" class="btn btn-danger" type="submit">Cancel</button>
      &nbsp;&nbsp;
      <button [disabled] class="btn btn-primary" (click)="submit()">Save</button>

    </div>


</div>