<h1 class="title">Supplier</h1>
<br>
<div>
  <input  type="text" id="searchsupplierinput" placeholder="Search Suppliers">
  <button class="btn btn-primary">Search</button>
</div>

<div class="top-right">
    <button class="btn btn-primary btn-lg"  id="addsupplier" routerLink="/add-supplier">
    Add Supplier </button>
</div>
<div class="row" >
  <div class="col-xs-12">
    <div class="table table-responsive table-hover">
      <table class="table table-bordered table-condensed ">
        <thead>
          <tr>
            <th>Supplier Name</th>
            <th>Email</th>
            <th>Telephone number</th>
            <th>Physical Address</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let supplier of supplier">
            <td></td>
            <td></td>
            <td></td>
            <td>{{supplier.supplierAddress}}</td>

            <td > 
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                  <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu  #menu="matMenu" class="popup_menu" xPosition="before">
              <button [routerLink]="['/edit-supplier']" mat-menu-item><mat-icon>edit_note</mat-icon>Update Supplier</button>
              <button [routerLink]="['/view-supplier']" mat-menu-item><mat-icon>description</mat-icon>View Supplier</button>
              <button [routerLink]="['/request-qoutation']" mat-menu-item><mat-icon>task</mat-icon>Supplier Quotations</button>
            </mat-menu>
          </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
