::ng-deep .popup_menu{
    font-size: 16px !important;
    font-family: Arial, Helvetica, sans-serif,  !important;
}

th{
    font-size: 16px !important;
    font-family: Arial, Helvetica, sans-serif,  !important;
}

td{
    font-size: 14px !important;
    font-family: Arial, Helvetica, sans-serif,  !important;
}

.top-right {
    position: absolute;
    top: 73px;
    right: 0px;
  
  }

  #addsupplier{
    
    font-size: 14px !important;
    color: white;
    font-family: Arial, Helvetica, sans-serif,  !important;
}

.title{
    color:darkgoldenrod;
    margin-top: 5px;
    text-align: center;
    font-size: 40px !important;
    font-family: Arial, Helvetica, sans-serif,  !important;
}

#searchsupplierinput{
    font-size: 14px !important;
    font-family: Arial, Helvetica, sans-serif,  !important;
    line-height: 30px;
}