<mat-toolbar>
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="header">GabriQ Pty Ltd</span>
    <span class="spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" [routerLink]="['/login']" aria-label="Example icon-button with heart icon">
      <mat-icon>account_circle</mat-icon>
    </button>
  
</mat-toolbar>

<mat-drawer-container class="container" autosize >
  <mat-drawer #drawer class="sidenav" mode="side">
    <h2>Menu</h2>

    <button mat-button class="menu-button">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>
         <mat-divider></mat-divider>
        <button mat-button class="menu-button" [routerLink]="['/projects']">
            <mat-icon> gite</mat-icon>
            <span> Project</span>
        </button> <mat-divider></mat-divider>
         <button mat-button class="menu-button" [routerLink]="['/phase']">
            <mat-icon>assignment</mat-icon>
            <span>Phase</span>
        </button>  <mat-divider></mat-divider>
         <button mat-button class="menu-button" [routerLink]="['/task']">
            <mat-icon>task</mat-icon>
            <span>Task</span>
        </button> <mat-divider></mat-divider>
        <button mat-button class="menu-button" [routerLink]="['/login']">
            <mat-icon>person</mat-icon>
            <span>User</span>
        </button> <mat-divider></mat-divider>
         <button mat-button class="menu-button" [routerLink]="['/user']">
            <mat-icon>badge</mat-icon>
            <span>Employee</span>
        </button> <mat-divider></mat-divider>
         <button mat-button class="menu-button" [routerLink]="['/tender']">
            <mat-icon>description</mat-icon>
            <span>Tender</span>
        </button> <mat-divider></mat-divider>
         <button mat-button class="menu-button" [routerLink]="['/supplier']">
            <mat-icon>shopping_cart</mat-icon>
            <span>Supplier</span>
        </button> <mat-divider></mat-divider>
         <button mat-button class="menu-button" [routerLink]="['/order']">
            <mat-icon>request_quote</mat-icon>
            <span>Order</span>
        </button> <mat-divider></mat-divider>
         <button mat-button class="menu-button" [routerLink]="['/inventory']">
            <mat-icon>inventory</mat-icon>
            <span>Inventory</span>
        </button> <mat-divider></mat-divider>
         <button mat-button class="menu-button" [routerLink]="['/category']">
            <mat-icon>category</mat-icon>
            <span>Category</span>
        </button> <mat-divider></mat-divider>
         <button mat-button class="menu-button" [routerLink]="['/subcontractor']">
            <mat-icon>engineering</mat-icon>
            <span>Subcontractor</span>
        </button> <mat-divider></mat-divider>
         <button mat-button class="menu-button" [routerLink]="['/equipment']"> 
            <mat-icon>hardware</mat-icon>
            <span>Equipment</span>
              </button> <mat-divider></mat-divider>
         <button mat-button class="menu-button" [routerLink]="['/reports']">
            <mat-icon>stacked_line_chart</mat-icon>
            <span>Reports</span> 
        </button> <mat-divider></mat-divider>
        <button mat-button class="menu-button">
            <mat-icon>help</mat-icon>
            <span>Help</span>
        </button>


  </mat-drawer>

  <div class="sidenav-content">
    <mat-card class="logo-card">
      <img mat-card-image src="assets/img/gabriqlogo.jpg">
    <mat-card >

      <span></span>
      <mat-card>
         <img mat-card-image class="civilimg"  src="assets/img/civilpic.jpg">
         <div class="bottom-left">
           <p>Professional </p><br> 
           <p>Construction</p> <br>
           <p>Services</p>
        </div>
       </mat-card>
 
       <br><br>
       <div class="about-div">
         <h1>About Us</h1>
           <p>
     
        GabriQ Group Pty Ltd is a construction company that renders professional services in Construction and General building, at competitive prices hence promoting
        long-term relationships with potential clients. The company is based in the Gauteng area and does offer their services to different parts of the South Africa.
        GabriQ Group is a 100% Black Owned Company, with a rating of BBBEE  Level 1. 
 
        Our Major Clients include:
        <ul>
          <li>Private Sector </li>
          <li>Municipalities</li>
          <li>Mines</li>
          <li>Industrial firms</li>
        </ul>
      <p>
    </div>
    <br><br>

    <div class="about-div">
      <h1>Areas of Specialisation</h1>
      <p> The services offered in General Construction are </p>
        <ul>
          <li>Brickwork </li>
          <li>Plasterwork</li>
          <li>Steelfixing</li>
        </ul>
       
        <p>Lift & Elevator Services</p>
    
        <ul>
          <li>New Installations of Elevators</li>
          <li>Maintainance and Repairs of existing lifts</li>
        </ul>
      </div>
      <br><br>
      <div class="about-div">
        <h1>Contact us</h1> 
        <p>Contact Person: Faith Ndlovu </p>
        <p>Cell: 071 514 7970 </p> 
        <p>Email: mahlase10@gmail.com </p>
      </div>
  

    
   <div>
<mat-drawer-container>
